* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Poppins", sans-serif;
}

H1 {
  background-color: rgb(160, 108, 29);
}

main {
  .section1 {
    display: flex;
    justify-content: space-between;

    .main-left {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px;

      h1 {
        text-align: center;
        animation: pulse 2.5s infinite;
        font-size: 3em;
      }
      p {
        font-size: 1em;
      }
    }
    .main-right {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: aqua;
      img {
        width: 50%;
      }
    }
  }

  /* projects */
  .project-section {
    padding: 4rem;

    .project-section__container {
      max-width: 1200px;
      margin: 0 auto;
      width: 80%;
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 1.8rem;
        color: #08c94c;
      }

      .subtitle {
        font-size: 1rem;
        color: #95a79b;
        max-width: 700px;
        width: 100%;
        margin: 10px 0;
      }

      .project-section__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        justify-content: center;

        .project-section__grid-item {
          position: relative;
          background: #000;
          padding: 1rem;

          h2 {
            font-size: 1.5rem;
            color: #fff;
          }

          p {
            font-size: 1rem;
            color: #95a79b;
            max-width: 700px;
            width: 100%;
            margin: 10px 0;
          }

          .project-item__tag {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            margin: 1rem 0;
          }
        }
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: rgb(225, 189, 10);
  border-radius: 10px;
  margin: 20px;
  input,
  textarea {
    padding: 10px;
    border: none;
    border-radius: 10px;
  }
}
img {
  width: 300px;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-around;
  background: #e28b35;
  height: 40px;
  align-items: center;
  gap: 20px;
  li {
    transition: all 1s;
    color: black;
    &:hover {
      color: red;
      text-decoration: underline;
      cursor: pointer;
      scale: 1.2;
    }
  }
}
